spring:
  application:
    name: tsg-9.27-TheAvengers-feedback-analytics-consumer

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: feedback-analytics-consumer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: latest

    listener:
      missing-topics-fatal: false

server:
  port: 8082

logging:
  level:
    org:
      springframework:
        kafka: INFO
    com:
      tsg:
        feedbackconsumer: DEBUG
